### 1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
hello
-87.8
-
/
+
6

Ans:
* Expression are * - / + 
* Values are hello,-87.8, 6

### 2. What is the difference between string and variable?

Ans:
* In programming luanguage the string is sequence of character that may be letter, number, symbol or space which helps to present information and string represent in the single or double quotation mark. 
* On the other hand variables can be any text which is used to store or hold information such as text or number using assignment operators and variables do not have any speific representation like quotation mark

### 3. Describe three different data types.

Ans:
* There are three basic data types are integer datatype, float datatype and complex numbers datatype
1. Integer Datatype: It will be whole number that may be positive or negative or zero number for example 10,-10,0. In this number can't be a decimal or fraction number. It can be used to store value like counting rooms or counting students
2. Float Datatype: It will be decimal number or fraction number for example 1.2, -1.2,0.05. So it can be used to store value of mesurment like temperature or distance or height
3. Complex Datatype: It will be a complex number which is combination of real and imaginary part. for example 2+4j, so here 2 is a real part while 4j is a imaginary part

In [12]:
# Example:
a=10;
b=10.5
c=4j
d=True

print(f" datatype of a is {type(a)} \n datatype of b is {type(b)} \n datatype of c is {type(c)} \n datatype of d is {type(d)}")

 datatype of a is <class 'int'>
 datatype of b is <class 'float'>
 datatype of c is <class 'complex'>
 datatype of d is <class 'bool'>

### 4. What is an expression made up of? What do all expressions do?

###### Ans:

* In programing expression is a combination of values,symbol,varibles an operator which is used to produce a one or more output values. Here varibles can be any text which use to store information. and here we can use any mathematical operators for example adiction, substraction, division, multilication, camparision. Expression may use camparision operators to produce any  required value.
* All expression have same purpose to produce a output value based on given expression. Expression can written in loop formate to produce any result by use of output value as input value

In [14]:
# for example
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"Hello, my name is {self.name}")

person = Person("samir")  # class object
person.greet()

Hello, my name is samir

In [16]:
# Python1 program to add two numbers
 
num1 = 15
num2 = 12
 
# Adding two numbers
sum = num1 + num2

print("sum of {0} and {1} is {2}" .format(num1,num2, sum))

sum of 15 and 12 is 27

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

###### Ans:

* In programming expression is a combination of values, variables and opertors that can be use to produce a required output value.
* while statment is more about perform actions in a program. There can be many statment like assignment statements, control flow statment etc.

* As in given problem, we have 'spam=10' is a assignment statment
* here '10' is a expression which is assigned to 'spam' varible using '=' assignment operator.

* In genral expression used within statments to produce value and we can say expression is a part of statment. And the result of this statment we can use anywhere in program.

### 6. After running the following code, what does the variable bacon contain?
bacon = 22;  
bacon + 1

###### Ans:

In [18]:
bacon = 22
bacon + 1

print(bacon)

22

Here bacon variable firstly hold value of 22, in second line 'bacon +1' is an expression which dont have any varible to store its output, So after running given code we would have bacon contains 22.

### 7. What should the values of the following two terms be?
'spam'+'spamspam' ; 
spam*3

###### Ans:

In [22]:
print('spam'+'spamspam')

spamspamspam

In [23]:
print('spam'*3)

spamspamspam

* Both the expression gives same output as spamspamspam. 
* In first expression result is evaluate based on string concatenation
* In second we use * operator which genrally used in python for string repetition, So here spam string repeat 3 times and produce a result in concatination formate i.e. spamspamspam. The operation in second expression can be said like string multiplication

### 8. Why is eggs a valid variable name while 100 is invalid?


###### Ans:


* In python, variable name must be start with a letter or a underscore followed by any letter or any digit. That means in python variable name can't start with digit
* In given problem 'eggs' is a valid variable because it start with letter
* On the other hand '100' is not valid variable because it start with a digit.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?


###### Ans:

*  The following three function can be used to get the integer, floating-point number, or string version of a value
1. int()  This function can be use to convert  value to integer
2. float()  This function can be use to convert  value to float
3. str()  This function can be use to convert  value to string

In [32]:
# For example
a=10.5;
b=10
c=2

print(f" conversion of 10.5 to integer is {int(a)} \n  conversion of 10 to float is {float(b)} \n conversion of 2 to string is {str(c)}")

print(f" datatype of 10.5 become {type(int(a))} \n datatype of 10 become {type(float(b))} \n datatype of 2 become {type(str(c))}")

 conversion of 10.5 to integer is 10
  conversion of 10 to float is 10.0
 conversion of 2 to string is 2
 datatype of 10.5 become <class 'int'>
 datatype of 10 become <class 'float'>
 datatype of 2 become <class 'str'>

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 +'burritos'


###### Ans:

In [24]:
'I have eaten'+ 99 +'burritos'

TypeError: can only concatenate str (not "int") to str

* Given error says that "can only concatenate str (not "int") to str"  this means we cant use integer to perform concatination operation. In given expression we have 99 who act as integer thats why we got error
* To  avoid this error we have to convert 99 into the string by using str function

In [38]:
print('I have eaten '+str(99)+'burritos')

I have eaten 99burritos